*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family :'Times New Roman', Times, serif
}

html, body{
    width : 100%;
    height : 100%
}

a{
    text-decoration: none;
}

#main{
    width : 100%;
    height : 100%;
    background-color: #001A23;
    display : flex;
    align-items: center;
    justify-content: center;
}

#panel{
    width : 80%;
    height : 80%;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    width: 100%;
    height: 10%;
    padding: 0 5%;
    background-color: #31493C;
    display : flex;
    justify-content: center;
    align-items: center;
}

.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 10px;
    height : 100%;
    width : 25%;
    color : white
}

.box{
    color : rgb(18, 200, 18);
    height : 70%;
    width : 25%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

#pbtm{
    height : 95%;
    width : 100%;
    background-color: #E8F1F2;
    padding : 10px 10px 35px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap : 10px;
}


.restart_btn{
    height : 55px;
    width : 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #4eeb4b;
    color: white;
    border-radius: 10px;
}

.restart_btn:hover{
    cursor: pointer;
    border: 5px solid grey;
    border-top: 0px;
    border-left: 0;
}

.start_btn{
    height : 55px;
    width : 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #4eeb4b;
    color: white;
    border-radius: 10px;
}

.start_btn:hover{
    cursor: pointer;
    border: 5px solid grey;
    border-top: 0px;
    border-left: 0;
}

input{
    padding: 10px;
    margin: 20px;
    font-size: large;
}